name: Metrics Deployment

on:
  push:
    branches: [ master ]

jobs:
  publish:

    name: Upload Release
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[ci skip]') == false

    steps:
    - uses: actions/checkout@v2
    - name: Generate build number
      id: buildnumber
      uses: WalshyDev/build-number@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Replace version
      run: sed -i "s/UNOFFICIAL/${{ steps.buildnumber.outputs.build_number }}/g" pom.xml
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package
    - name: Create a Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.buildnumber.outputs.build_number	}}
        release_name: Build ${{ '#' }}${{ steps.buildnumber.outputs.build_number	}}
    - name: Upload Module Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./target/MetricsModule.jar
        asset_name: MetricsModule.jar
        asset_content_type: application/jar
